<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.itcodai.onlineshopping.mapper.OrderItemMapper">-->

<!--    &lt;!&ndash; 插入订单项 &ndash;&gt;-->
<!--    <insert id="insertOrderItem" parameterType="com.itcodai.onlineshopping.entity.OrderItem">-->
<!--        INSERT INTO order_items(order_id, food_id,food_name ,price, quantity)-->
<!--        VALUES (#{orderId}, #{foodId},#{foodName}, #{price}, #{quantity});-->
<!--    </insert>-->

<!--</mapper>-->


<mapper namespace="com.itcodai.onlineshopping.mapper.OrderItemMapper">

    <!-- 单个插入 -->
    <insert id="insertOrderItem" parameterType="com.itcodai.onlineshopping.entity.OrderItem">
        INSERT INTO order_items (order_id, food_id, food_name, price, quantity,username)
        VALUES (#{orderId}, #{foodId}, #{foodName}, #{price}, #{quantity},#{userName});
    </insert>

    <!-- 批量插入 -->
<!--    <insert id="insertOrderItems" parameterType="java.util.List">-->
<!--        INSERT INTO order_items (order_id,food_id, food_name, price, quantity)-->
<!--        VALUES-->
<!--        <foreach collection="orderItems" item="item" separator=",">-->
<!--            (#{item.orderId}, #{item.foodId}, #{item.foodName}, #{item.price}, #{item.quantity})-->
<!--        </foreach>-->
<!--    </insert>-->

</mapper>
